<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('partials/_head') %>
</head>

<body>

  <%- include('partials/_header') %>
    
  <div class="container">

    <label for="shortURL">Short URL:&nbsp;</label><a id="shortURL" href="../u/<%= shortURL %>"><%= host %>/u/<%= shortURL %></a>
    
    <br />

    <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
      
      <label for="longURL">Update URL:</label>
      <input id="longURL" type="text" name="longURL" value="<%= urls[shortURL].longURL %>" style="width: 300px" />
      
      <button type="submit" class="btn btn-xs btn-warning">
        update
      </button>
      
    </form>
    
    <br />

    <label for="dataCreated">Date created:&nbsp;</label><span id="shortURL"><%= urls[shortURL].dateCreated %></span>

    <br />

    <label for="numVisits">Number of visitors:&nbsp;</label><spans id="numVisits"><%= urls[shortURL].numVisits %></span>

  </div>

</body>

</html>